.slidebar {
	width: 300px;
	/* border-style: solid;
	border-color: black; */
	background-color: teal;
	margin-left: -10px;
	height: 698px;
	position: fixed;
	top: -0.4%;
	animation: slide 1s;
	-webkit-animation: slide 1s;
	border-color: transparent;
	box-shadow: 0px 0px 500px 900px rgb(0, 0, 0, 0.3);
}
.sidebar {
	-webkit-animation-timing-function: linear;
}
.slidehead {
	padding: 10px;
	border-style: solid;
	border-top-color: transparent;
	border-bottom-color: black;
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: white;
}
.ul {
	text-align: left;
	list-style: none;
	margin-left: 40px;
	height: 500px;
	top: 10px;
	margin-right: 10px;
}

.slideCloseButton {
	background-color: transparent;
	outline-color: transparent;
	border-color: transparent;
	animation: close 2s 1;
	-webkit-animation: close 2s 1;
}
.slideCloseTag {
	width: 20px;
	height: 20px;
	text-align: right;
	margin-left: 240px;
	margin-top: 10px;
}
.iconimg {
	width: 20px;
	height: 20px;
	font-size: 25px;
}
.linkbutton {
	margin-bottom: 20px;
	background-color: transparent;
	outline-color: transparent;
	color: white;
	padding: 5px;
	font-weight: 800;
	border-radius: 4px;
	border-color: teal;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transition-duration: 0.6s;
}
.linkbutton:hover {
	background-color: white;
	border-color: transparent;
	color: teal;
	font-family: Arial, Helvetica, sans-serif;
}
.heading {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
@-webkit-keyframes slide {
	0% {
		opacity: 0.5;
		left: -200px;
	}

	100% {
		opacity: 1;
		left: 7px;
	}
}
@-webkit-keyframes close {
	from {
		-webkit-transform: rotateX(0deg);
	}
	to {
		-webkit-transform: rotateX(359deg);
	}
}
