.container1 {
	text-align: center;
	align-content: center;
	margin: auto;
	height: 300px;
	max-width: 300px;
	background-color: rgb(255, 255, 255);
	margin-top: 0px;
	padding: 30px;
	border-radius: 30px;
	position: initial;
}
.img {
	height: 200px;
	width: 200px;
	margin-left: 570px;
	margin-top: 10px;
}
.container2 {
	max-width: 300px;
	margin: auto;
	margin-top: 30px;
	height: 150px;
	align-content: left;
	text-align: left;
}
.h1 {
	margin-top: 0px;
	text-align: left;
	color: teal;
}
.p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	color: teal;
}
.input {
	margin-bottom: 30px;
	width: 290px;
	height: 20px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: teal;
	outline-color: transparent;

	padding: 6px;
}
.button {
	margin-top: 30px;
	margin-left: 30px;
	width: 80px;
	height: 30px;
	margin-right: 30px;
	border-radius: 10px;
	border-color: transparent;
	text-align: center;
	font-size: 15px;
	background-color: teal;
	font-weight: bold;
	outline-color: transparent;
	transition-duration: .8s;
}
.button:hover {
	color: white;
	border-radius: 6px;
}
